html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    font-family: sans-serif;
}

#home {
    height: 95%;
    border-bottom: 10px solid #303030;
    position: relative;
}

.home-background-image {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.home-navbar {
    height: 15%;
    padding-inline: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-navbar-logo {
    height: 50%;
}

.home-navbar-options {
    display: flex;
    gap: 25px;
}

.sign-in-button {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
}

.language {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 3px;
}

.language-options {
    background-color: gray;
    color: white;
}

.home-content {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.home-content-title {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.home-content-subtitle {
    font-size: 26px;
    color: white;
}

.home-content-subtitle-2 {
    font-size: 20px;
    color: white;
}

.home-content-actions {
    display: flex;
}

.home-content-input {
    font-size: 26px;
    background-color: white;
    border: none;
    padding: 10px 20px;
    border: 1px solid lightseagreen;
}

.home-content-button {
    font-size: 26px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
}

[class$="box"] {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: 10px solid #303030;
    padding-inline: 100px;
    justify-content: space-between;
    box-sizing: border-box;
}

.first_content_box {
    height: 70%;
}

.second_content_box {
    height: 70%;
}

.third_content_box {
    height: 80%;
}

.fourth_content_box {
    height: 80%;
}

.four_contents_text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

[class^="image"] {
    width: 75%;
}

[class^="image_space"] {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.image_space_1 {
    justify-content: flex-end;
}

.image_space_3 {
    justify-content: flex-end;
}

.image_space_2 {
    justify-content: flex-start;
}

.image_space_4 {
    justify-content: flex-start;
}

.last_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom: 10px solid #303030;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.collapsible {
    background-color: #303030;
    color: white;
    cursor: pointer;
    padding: 20px 30px;
    width: 75%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 26px;
}

.content {
    font-size: 26px;
    padding: 20px 30px;
    display: none;
    overflow: hidden;
    background-color: #303030;
    color: white;
    max-width: 75%;
    box-sizing: border-box;
}

.collapsible:after {
    content: '+';
    font-size: 26px;
    color: white;
    float: right;
}

.active:after {
    content: 'x';
}

.questions {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.last_section_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.footer {
    background-color: black;
    color: #303030;
    display: flex;
    flex-direction: column;
    padding: 70px 250px 35px;
    justify-content: center;
    gap: 40px;
}

.footer_col {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: flex-start;
}

p {
    margin: 0px;
}